{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://elibot.info/img/logo.png" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oilobot</title>
    <link rel="stylesheet" href="{% static 'css/style_2.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container">
            <div class="top">
                <div class="logo">
                    <div class="img">
                        <a href="/kg"><img src="https://elibot.info/img/logo.png" alt=""></a>
                    </div>
                    <div class="logotype">
                        <h1>Oilobot робот</h1>
                        <p>Сенин жеке консультантың</p>
                    </div>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="/questions/kg">Көп берилүүчү суроолор</a></li>
                        <li><a href="/category/kg">Макалалар</a></li>
                        <li><a href="/ru">Русский</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <h2>Мен - Oilobot</h2>
                <p>Адамдардын чоңойушу жөндө<br/>суроолорго жоопторду табканга жардам берем :)</p>
                <div class="imgs">
                    <div class="bot">
                        <img src="https://elibot.info/img/img-info.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="first">
        <div class="container">
            <div class="top">
                <p>Oilobot'ту cуроо!» кнопканы басканда, сиз</p>
                <div class="a">
                    <a href="#">Колдонуу шарттарды кабыл аласыңар.</a>
                </div>
                <button>Oilobot'ту суроо!</button>
            </div>
            <div class="bottom">
                <p>Кээде бизге биздин денебиз, сексуалдуулук жана мамилелерибиз жөндө толук маалымат жетпей калат. Ошон үчүн ЮНЕСКОнун жана ВКонтакте социал тармактын жаардамынам Эли робот жасалган. Эли робот сага каалаган суроолорго каалаган убакта бат жооп берет. Азыр Эли робот жаш, жана азырынча бүт жоопторго жооп берип албайт, бирок ал тез жаңы маалыматты алат. Ошон үчүн сенин ар бир суроолоруң Элиге жаардам берет.</p>
            </div>
        </div>
    </section>
    <section class="second">
        <div class="container">
            <div class="top">
                <h2>Сүйлөшкөңгө темалар</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="health">
                        <div class="left">
                            <h3>Ден соолук</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-1.png" alt="">
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <h3>Мамилелер</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-2.png" alt="">
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <h3>Психология</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="middle">
                        <img src="https://elibot.info/img/img-topic.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-4.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Секс</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-5.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Үйөбүлө</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-6.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Физиология</h3>
                            <p>Симпомдордун Ликбези жана <br/>тобокелдиктерди азайтуу боюнча кеңештер</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="third">
        <div class="container">
            <div class="top">
                <h2>Мен кантип сүйлөшөм?</h2>
                <p>Мен сен менем бирдей сүйлөшөм жана текшерилген факттарды эле келтирем.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="left">
                        <img src="https://elibot.info/img/img-communicate.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="blue">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestiae quidem! Adipisci id nostrum optio.</p>
                    </div>
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="blue">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestiae quidem! Adipisci id nostrum optio.</p>
                    </div>
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="link">
                <p>Oilobot'ту cуроо!» кнопканы басканда сиз <a href="#">колдонуу шарттарды кабыл аласыңар.</a></p>
                <a class="elly" href="#">Oilobot'ту суроо!</a>
            </div>
        </div>
    </section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Сага эмне менен жардам берип алам?</h5>
            </div>
            <div class="col-lg-7">
                <div class="left">
                    <div class="top">
                        <div class="img">
                            <img src="https://elibot.info/img/icon-help-1.png" alt="">
                        </div>
                        <h4>Тез жооп берем</h4>
                        <p>Кээ бир кеңеш керек болгондо же суроого жооп керек болгондо жакындагы адамдар жакын болбой калыш мүмкүн. Бирок мен сага ар дайым жардам берип алам - мага жөн эле жазып койсоң болот.</p>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <div class="img">
                                <img src="https://elibot.info/img/icon-help-2.png" alt="">
                            </div>
                            <h4>Сага бекер жардам берем</h4>
                            <p>Мен жоопторду жана сунуштарды бекер эле берем. Сен болсо өзүң ачкаларыңды кээ бир керектүү же жакшы нерсеге коротсоң болот</p>
                        </div>
                        <div class="right">
                            <div class="img">
                                <img src="https://elibot.info/img/icon-help-3.png" alt="">
                            </div>
                            <h4>Эчкимге биз сүйлөшкөн жөндө айтпайм</h4>
                            <p>Мен сенин ишенимиңди абдан баалайм, ошон үчүн биз сүйлөшкөндөн кийин сага биздин жазышканыбызды өчүргөнүн мүмкүнчүлүгүн жөндө эскертип турам.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mainRight">
                    <div class="heart">
                        <img src="https://elibot.info/img/bg-heart-two.png" alt="">
                    </div>
                    <img src="https://elibot.info/img/img-help.png" alt="">
                </div>
            </div>
            <div class="link">
                <p>Oilobot'ту cуроо!» кнопканы басканда сиз <a href="#">колдонуу шарттарды </a>кабыл аласыңар.</p>
                <a class="elly" href="#">Oilobot'ту суроо!</a>
            </div>
        </div>
    </div>
</section>
<section class="fifth">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="title">
                    <h4>Мен ар дайым сабак алам</h4>
                    <p>Мен менен сүйлөшүп, сен мага жакшыраак болууга жардам бересиң</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="sofa">
                    <img src="https://elibot.info/img/img-every.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sixth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Биздин отробуздан эле сүйлөүшүү бар!</h5>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/icon-personal-1.png" alt="">
                    </div>
                    <h5>Анонимндүүлүк</h5>
                    <p>Oilobot окууганга башка диалогтордон түшүнүү кыйынчылыктарды чечкенге билимдер менен колдонот. Бул учурда, Oilobot автоматтык түрдө кат-кабарды жашырат жана андан кийин гана сактайт. Бул учурда, Oilobot автоматтык түрдө кат-кабарды жашырат жана андан кийин гана сактайт. Ошентип, Oilobot өз маектештери жөнүндө маалыматты өзүнүн иштеп чыгуучуларынан деле жашырат.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/icon-personal-2.png" alt="">
                    </div>
                    <h5>Анонимндүүлүк</h5>
                    <p>Oilobot окууганга башка диалогтордон түшүнүү кыйынчылыктарды чечкенге билимдер менен колдонот. Бул учурда, Oilobot автоматтык түрдө кат-кабарды жашырат жана андан кийин гана сактайт. Бул учурда, Oilobot автоматтык түрдө кат-кабарды жашырат жана андан кийин гана сактайт. Ошентип, Oilobot өз маектештери жөнүндө маалыматты өзүнүн иштеп чыгуучуларынан деле жашырат.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seventh">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Таанышып ал, меним эксперттерим!</h5>
                <p>Мени ойлоп тапкан специалисттер командасы</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-1.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-5.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-6.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-2.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-4.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/img-staff-3.png" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="eighth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Тема жөндө кошунча маалымат билгиң келсе</h5>
            </div>
            <div class="col-lg-8">
                <div class="left">
                    <p>Менин ВКонтакте группага көнүл буруп койсоңор болот <br/>Же LoveLogs телефонго жаздырып койсоңор болот</p>
                    <a href="#"><img src="https://elibot.info/img/btn-vk.png" alt=""></a>
                    <a href="#"><img src="https://elibot.info/img/btn-google-play.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img">
                    <img src="https://elibot.info/img/img-staff.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tenth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Сенин сурооңо тез жооп берем<br/> керексиз эмоцияларсыз</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias?</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-4">
                <div class="left">
                    <p>Мен сага баа же өзүмдүн ойумду таңуулабайм. Меним аткаруучу тапшырмам - сенин сурооңо тез, туура жана оңой жооп берүү.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="img">
                    <img src="https://elibot.info/img/img-question.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="link">
            <p>«Oilobot'ту cуроо!» кнопканы басканда сиз <a href="#">колдонуу шарттарды кабыл аласыңар.</a></p>
            <a class="elly" href="#">Ask Elly</a>
        </div>
        <div class="top">
            <div class="logo">
                <div class="img">
                    <img src="https://elibot.info/img/logo.png" alt="">
                </div>
                <div class="logotype">
                    <h1>Oilobot робот</h1>
                    <p>Сенин жеке консультаның</p>
                </div>
            </div>
            <div class="question">
                <p>Oilobot жөндө суроо болсо, ага суроо берсең болот.</p>
            </div>
            <div class="links">
                <div class="left">
                    <a href="#">Ask question</a>
                </div>
                <div class="right">
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="topEl">
                <div class="proto">
                    <h6>Oilobot спонсорлору</h6>
                    <div class="photo">
                        <img src="https://elibot.info/img/iite_logo_2008_bw_white_ru_ALTERNATIVE1.svg" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Ушул чат-ботто колдонулган аталыштар жана анда келтирилген материалдар ЮНЕСКОнун кайсы бир өлкөнүн, аймактын, шаардын же региондун же алардын тийиштүү органдарынын укуктук статусуна, ошондой эле демаркация чектерине же чек араларына байланыштуу пикирин билдирбейт. Ушул чат-боттогу маалымат жана пикирлер автордук укукка ээ жана ЮНЕСКОнун расмий позициясы менен дал келбеши мүмкүн жана Уюмга кандайдыр бир милдеттенмелерди жүктөбөйт. Ден-соолукка байланыштуу көйгөйлөр жөнүндө маалымат chatbot тарабынан маалымдама үчүн гана берилет. Диагноз коюу же дарылоо үчүн ага ишенбөө керек. Бардык медициналык суроолор боюнча, доктурга кайрылуу керек.</p>
                </div>
            </div>
            <div class="links1">
                    <div class="first">
                        <a href="#">Купуялык саясаты</a>
                    </div>
                    <div class="second">
                        <a href="#">Колдонуу саясаты</a>
                    </div>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2020</p>
        </div>
    </div>
</footer>
</body>
</html>