{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://elibot.info/img/logo.png" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oilobot</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_quil.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_cat.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_details.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container">
        <div class="top">
            <div class="logo">
                <div class="img">
                    <a href="/ru"><img src="https://elibot.info/img/logo.png" alt=""></a>
                </div>
                <div class="logotype">
                    <h1>робот Эли</h1>
                    <p>Твой личный консультант</p>
                </div>
            </div>
            <div class="links">
                <ul>
                    <li><a href="/questions/kg">Часто задаваемые вопросы</a></li>
                    <li><a href="/category/kg">Cтатьи</a></li>
                    <li><a href="/post_details/{{post.id}}/kg">Кыргызча</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
        <br>
        <br>
            <div id="wrap">
                <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    {{ post.body_ru.html | safe}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <br>
        <br>  

<footer>
    <div class="container">
        <div class="link">
            <p>Нажимая на кнопку «Спросить Эли!» Вы принимаете <a href="#">условия использования</a></p>
            <a class="elly" href="#">Ask Elly</a>
        </div>
        <div class="top">
            <div class="logo">
                <div class="img">
                    <img src="https://elibot.info/img/logo.png" alt="">
                </div>
                <div class="logotype">
                    <h1>робот Эли</h1>
                    <p>Твой личный консультант</p>
                </div>
            </div>
            <div class="question">
                <p>Появился вопрос о работе Эли? Можешь его задать.</p>
            </div>
            <div class="links">
                <div class="left">
                    <a href="#">Ask question</a>
                </div>
                <div class="right">
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="topEl">
                <div class="proto">
                    <h6>Робот Эли разработан при поддержке</h6>
                    <div class="photo">
                        <img src="https://elibot.info/img/iite_logo_2008_bw_white_ru_ALTERNATIVE1.svg" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Названия, использованные в данном чат-боте, и представленные в нем материалы не являются выражением мнения ЮНЕСКО относительно правового статуса какой-либо страны, территории, города или района или их соответствующих органов управления, равно как и линий разграничения или границ. Сведения и мнения, содержащиеся в данном чат-боте, являются авторскими, могут не совпадать с официальной позицией ЮНЕСКО и не накладывают на Организацию никаких обязательств. Информация по вопросам, связанным со здоровьем, предоставляется чат-ботом только в качестве справки. На нее нельзя полагаться в целях диагностики или лечения. По любым медицинским вопросам необходимо обращаться к врачу.</p>
                </div>
            </div>
            <div class="links1">
                <div class="first">
                    <a href="#">Политика конфиденциальности</a>
                </div>
                <div class="second">
                    <a href="#">Политика пользования</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2020     Все права защищены. Полное или частичное копирование материалов запрещено.</p>
            <p>Made in here</p>
        </div>
    </div>
</footer>
</body>
</html>