*{
    font-family: 'Montserrat', sans-serif;
}
header{
    /*background: url("") no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    color: black;
}
h5{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
header .top .logo{
    display: flex;
    align-items: center;
}
header .top .img{
    padding-right: 15px;
}
header .top .logo h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
header .top .logo p{
    font-size: 14px;
    font-weight: 600;
}

header h2{
    text-transform: uppercase;
    font-weight: 600;
}
header .top ul{
    display: flex;
}
header .top li{
    list-style: none;
    padding: 0 15px;
}
header .links a{
    color: white;
    text-decoration: none;
    background: #289dfd;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 10px;
}
.first {
    padding: 30px 0 60px;
}
.first .questions{
    border: solid 1px gray;
    padding: 20px;
}
.first .questions h2{
    text-align: center;
    padding: 5px 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.first .questions li{
    border-bottom: solid 1px gray;
    padding: 10px 0;
}
.first .reply{
    border: solid 1px gray;
    padding: 20px;
    height: 100%;
}
.first .reply h2{
    text-align: center;
    padding: 5px 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
footer{
    background: #a622ff;
    color: white;
}
footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
footer .top .logo{
    display: flex;
    align-items: center;
}
footer .top .img{
    padding-right: 15px;
}
footer .top .logo h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
footer .top .logo p{
    font-size: 14px;
    font-weight: 600;
}
footer .question {
    font-size: 14px;
}
footer .proto{
    text-align: center;
    border: solid 1px white;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
footer .photo img{
    width: 50%;
}
footer .text {
    width: 70%;
    margin: 0 auto;
}
footer .top .links{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
footer .top .links a {
    color: white;
    text-decoration: none;
    background: #289dfd;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 10px;
}
footer .middle .links1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
footer .middle .links1 a{
    color: white;
    padding: 0 25px;
}
footer .bottom{
    display: flex;
    justify-content: space-around;
}