
{% extends 'tem.html' %}

{% block content %}

  <!-- Main Content -->
  {% for category in categories %}
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                  <a href="{% url 'posts:cat_details' category.id %}">
                      <h2 class="post-title">{{category.title_ru}}</h2>
                      
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2019</p>
                </div>
            </div>
        </div>
    </div>
        <hr>
    {% endfor %}
      
 

{% endblock %}      
