{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bot</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container">
            <div class="top">
                <div class="logo">
                    <div class="img">
                        <img src="https://elibot.info/img/logo.png" alt="">
                    </div>
                    <div class="logotype">
                        <h1>робот Эли</h1>
                        <p>Твой личный консультант</p>
                    </div>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="/questions/kg">Часто задаваемые вопросы</a></li>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="/ru">Русский</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <h2>Я - Эли</h2>
                <p>Помогу найти ответы на вопросы о <br/>взрослении Homo Sapiens :)</p>
                <div class="imgs">
                    <div class="bot">
                        <img src="https://elibot.info/img/img-info.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="first">
        <div class="container">
            <div class="top">
                <p>Нажимая на кнопку «Спросить Эли!» Вы принимаете</p>
                <div class="a">
                    <a href="#">условия использования.</a>
                </div>
                <button>Ask Elly</button>
            </div>
            <div class="bottom">
                <p>Иногда нам не хватает точной, полной и непредвзятой информации о нашем теле, сексуальности и отношениях. Поэтому при поддержке ЮНЕСКО и социальной сети ВКонтакте появился бот Эли. В любое время и без промедления Эли ответит на волнующие тебя вопросы. Эли еще очень молодой бот и пока не знает всех ответов, но он быстро учится. И каждый твой заданный вопрос помогает в этом.</p>
            </div>
        </div>
    </section>
    <section class="second">
        <div class="container">
            <div class="top">
                <h2>Темы общения</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="health">
                        <div class="left">
                            <h3>Здоровье</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-1.png" alt="">
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <h3>Отношения</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-2.png" alt="">
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <h3>Психология</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                        <div class="right">
                            <img src="https://elibot.info/img/icon-topic-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="middle">
                        <img src="https://elibot.info/img/img-topic.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-4.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Секс</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-5.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Семья</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                    </div>
                    <div class="health">
                        <div class="left">
                            <img src="https://elibot.info/img/icon-topic-6.png" alt="">
                        </div>
                        <div class="right">
                            <h3>Физиология</h3>
                            <p>Ликбез по симптомам и <br/>советы по снижению рисков</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="third">
        <div class="container">
            <div class="top">
                <h2>Как я общаюсь?</h2>
                <p>Я общаюсь с тобой на равных, привожу только проверенные факты.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="left">
                        <img src="https://elibot.info/img/img-communicate.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="blue">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestiae quidem! Adipisci id nostrum optio.</p>
                    </div>
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="blue">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, molestiae quidem! Adipisci id nostrum optio.</p>
                    </div>
                    <div class="pink">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="link">
                <p>Нажимая на кнопку «Спросить Эли!» Вы принимаете <a href="#">условия использования</a></p>
                <a class="elly" href="#">Ask Elly</a>
            </div>
        </div>
    </section>
<section class="fourth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Чем я могу помочь?</h5>
            </div>
            <div class="col-lg-7">
                <div class="left">
                    <div class="top">
                        <div class="img">
                            <img src="https://elibot.info/img/icon-help-1.png" alt="">
                        </div>
                        <h4>Отвечаю немедленно</h4>
                        <p>Близкие не всегда рядом, когда возникает вопрос или нужен совет. Я же готов прийти на помощь в любое время — просто напиши мне.</p>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <div class="img">
                                <img src="https://elibot.info/img/icon-help-2.png" alt="">
                            </div>
                            <h4>Помогаю бесплатно</h4>
                            <p>Я отвечаю и даю рекомендации совершенно бесплатно. А ты можешь потратить свои деньги на что-нибудь приятное или нужное.</p>
                        </div>
                        <div class="right">
                            <div class="img">
                                <img src="https://elibot.info/img/icon-help-3.png" alt="">
                            </div>
                            <h4>Никому не рассказываю</h4>
                            <p>Я очень ценю твое доверие и поэтому в конце диалога напомню тебе о возможности стереть нашу переписку, чтобы сохранить ее в тайне.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="mainRight">
                    <div class="heart">
                        <img src="https://elibot.info/img/bg-heart-two.png" alt="">
                    </div>
                    <img src="https://elibot.info/img/img-help.png" alt="">
                </div>
            </div>
            <div class="link">
                <p>Нажимая на кнопку «Спросить Эли!» Вы принимаете <a href="#">условия использования</a></p>
                <a class="elly" href="#">Ask Elly</a>
            </div>
        </div>
    </div>
</section>
<section class="fifth">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="title">
                    <h4>Я постоянно учусь</h4>
                    <p>Поговорив со мной, ты поможешь мне стать лучше.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="sofa">
                    <img src="https://elibot.info/img/img-every.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sixth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Общение только между нами!</h5>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/icon-personal-1.png" alt="">
                    </div>
                    <h5>Анонимность</h5>
                    <p>Для обучения Эли использует некоторые из тех диалогов, в которых у него возникли проблемы понимания. В этом случае Эли автоматически анонимизирует переписку и только потом сохраняет её. Таким образом Эли надёжно скрывает информацию о своих собеседниках даже от своих разработчиков.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="img">
                        <img src="https://elibot.info/img/icon-personal-2.png" alt="">
                    </div>
                    <h5>Анонимность</h5>
                    <p>Для обучения Эли использует некоторые из тех диалогов, в которых у него возникли проблемы понимания. В этом случае Эли автоматически анонимизирует переписку и только потом сохраняет её. Таким образом Эли надёжно скрывает информацию о своих собеседниках даже от своих разработчиков.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seventh">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Знакомься, мои эксперты!</h5>
                <p>Команда специалистов, которые участвовали в моем создании</p>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="img">
                        <img src="https://emojiprints.com/wp-content/uploads/Smiling-Face-With-Sunglasses-Emoji-Classic-Round-Sticker.jpg" alt="">
                    </div>
                    <h6>Person</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="eighth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Если хочешь знать больше по теме</h5>
            </div>
            <div class="col-lg-8">
                <div class="left">
                    <p>Подпишись на мою группу ВКонтакте <br/>или скачай дружественное мобильное приложение LoveLogs</p>
                    <a href="#"><img src="https://elibot.info/img/btn-vk.png" alt=""></a>
                    <a href="#"><img src="https://elibot.info/img/btn-google-play.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img">
                    <img src="https://elibot.info/img/img-staff.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ninth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Часто задаваемые вопросы</h5>
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <div class="img">-->
<!--                    <div class="heart">-->
<!--                        <img src="https://elibot.info/img/bg-heart-two.png" alt="">-->
<!--                    </div>-->
<!--                    <img src="https://elibot.info/img/img-help.png" alt="">-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-lg-12">
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
                <div class="ask">
                    <p>Почему ЮНЕСКО поддержала создание Эли?</p>
                </div>
                <div class="repl">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, ipsam?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tenth">
    <div class="container">
        <div class="row">
            <div class="title">
                <h5>Задай мне свой вопрос и я отвечу <br/> без лишних эмоций</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias?</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-4">
                <div class="left">
                    <p>Я не буду оценивать тебя или навязывать свое мнение. Моя задача – ответить на твой вопрос быстро, точно и спокойно</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="img">
                    <img src="https://elibot.info/img/img-question.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="link">
            <p>Нажимая на кнопку «Спросить Эли!» Вы принимаете <a href="#">условия использования</a></p>
            <a class="elly" href="#">Ask Elly</a>
        </div>
        <div class="top">
            <div class="logo">
                <div class="img">
                    <img src="https://elibot.info/img/logo.png" alt="">
                </div>
                <div class="logotype">
                    <h1>робот Эли</h1>
                    <p>Твой личный консультант</p>
                </div>
            </div>
            <div class="question">
                <p>Появился вопрос о работе Эли? Можешь его задать.</p>
            </div>
            <div class="links">
                <div class="left">
                    <a href="#">Ask question</a>
                </div>
                <div class="right">
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="topEl">
                <div class="proto">
                    <h6>Робот Эли разработан при поддержке</h6>
                    <div class="photo">
                        <img src="https://elibot.info/img/iite_logo_2008_bw_white_ru_ALTERNATIVE1.svg" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Названия, использованные в данном чат-боте, и представленные в нем материалы не являются выражением мнения ЮНЕСКО относительно правового статуса какой-либо страны, территории, города или района или их соответствующих органов управления, равно как и линий разграничения или границ. Сведения и мнения, содержащиеся в данном чат-боте, являются авторскими, могут не совпадать с официальной позицией ЮНЕСКО и не накладывают на Организацию никаких обязательств. Информация по вопросам, связанным со здоровьем, предоставляется чат-ботом только в качестве справки. На нее нельзя полагаться в целях диагностики или лечения. По любым медицинским вопросам необходимо обращаться к врачу.</p>
                </div>
            </div>
            <div class="links1">
                    <div class="first">
                        <a href="#">Политика конфиденциальности</a>
                    </div>
                    <div class="second">
                        <a href="#">Политика пользования</a>
                    </div>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright © 2020     Все права защищены. Полное или частичное копирование материалов запрещено.</p>
            <p>Made in here</p>
        </div>
    </div>
</footer>
</body>
</html>