{% extends 'tem.html' %}

{% block content %}

  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-preview">
                  <a>
                      <h2 class="post-title">{{posts.title_ru}}</h2>
                      <h3 class="post-subtitle">
                        {{posts.body_ru}}
                        <img src="{{posts.img.url}}" width="700px" height="500px" alt="img">
                        
                      </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">Start Bootstrap</a>
                        on September 24, 2019</p>
                </div>
            </div>
        </div>
    </div>
        <hr>
      
 
{% endblock %}      
