<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вопросы</title>
</head>
<body>
    {% for question in questions %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ question.question }}</h5>
          <a href="http://127.0.0.1:8000/blog/answer-{{ lang }}/{{ question.id }}" class="btn btn-primary">Показать ответы</a>
        </div>
      </div>
    {% endfor %}
</body>
</html>