
*{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: url("https://elibot.info/img/bg-heder.jpg") no-repeat;
    background-size: cover;
    /*background-position: center;*/
    color: white;
    /*background: #741fab;*/
}
h5{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
header .top .logo{
    display: flex;
    align-items: center;
}
header .bottom .imgs {
    text-align: center;
}
header .top .img{
    padding-right: 15px;
}
header .top .logo h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
header .top .logo p{
    font-size: 14px;
    font-weight: 600;
}
header .bot img{
    width: 350px;
}
header h2{
    text-transform: uppercase;
    font-weight: 600;
}
header .top ul{
    display: flex;
}
header .top li{
    list-style: none;
    padding: 0 15px;
}
header .links a{
    color: white;
    text-decoration: none;
}
header .links a:hover{
    background: #289dfd;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
}
header .bottom{
    text-align: center;
}
header .bottom h2{
    font-size: 46px;
}
header .bottom p{
    font-size: 20px;
}
.ninth{
    /*background: url("https://elibot.info/img/bg-adrenaline.png") left no-repeat;*/
    /*padding: 30px 0 100px;*/
    margin: 50px 0;
}
.ninth .title h5{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
}
.ninth .ask {
    background: #a622ff;
    padding: 15px 0;
    border-radius: 20px;
    margin: 10px 0;
    color: white;
}
.ninth .repl {
    background: #289dfd;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
    color: white;
}
.ninth .ask p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.ninth .img img{
    transform: scaleX(-1);
}
.ninth .heart{
    display: flex;
    justify-content: flex-end;
}
.ninth .heart img{
    transform: scaleX(-1);
}
.ninth li{
    padding: 5px 0;
}
footer{
    background: url("https://elibot.info/img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    color: white;
}
footer .link {
    text-align: center;
}
footer .link .elly {
    color: white;
    text-decoration: none;
    background: #289dfd;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 10px;
}
footer .link p{
    color: black;
}
footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
footer .top .logo{
    display: flex;
    align-items: center;
}
footer .top .img{
    padding-right: 15px;
}
footer .top .logo h1{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
footer .top .logo p{
    font-size: 14px;
    font-weight: 600;
}
footer .question {
    font-size: 14px;
}
footer .proto{
    text-align: center;
    border: solid 1px white;
    padding: 20px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
footer .photo img{
    width: 50%;
}
footer .text {
    width: 70%;
    margin: 0 auto;
}
footer .top .links{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
footer .top .links a {
    color: white;
    text-decoration: none;
    background: #289dfd;
    padding: 10px 15px;
    border-radius: 50px;
    margin: 0 10px;
}
footer .middle .links1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
footer .middle .links1 a{
    color: white;
    padding: 0 25px;
}
footer .bottom{
    display: flex;
    justify-content: space-around;
}